body {

    height: 0;
    margin: 0;
    background-color: rgb(240, 235, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-feature-settings: "calt";
}
.logo {
display: flexbox;
}
.nav-bar {
text-align: right;
margin: 2rem;
padding: 2rem;
display: block;
background-color: rgb(222, 224, 224);
}
  



   